<h1>Editing List</h1>
</br>
<%= render 'form', list: @list %>
</br>
<%= link_to 'Show', @list ,class:"btn btn-secondary"%>
<%= link_to 'Delete', @list, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %> 
<%= link_to 'Back', lists_path ,class:"btn btn-secondary"%>
